@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared-class */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter";
}
body{
    margin: 0;
    padding: 0;
    overflowx: hidden;
}
.background{
    background: #1a0a2b;
}
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto; 
}
/* 
start design nav-part */
.brand-menu{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    
}
.brand{
    color: #fff;
    margin: 10px;
}
.linear-color {
    background: linear-gradient(90deg,yellow, red, blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;  
} 
.menu ul{
    display: flex;
    gap: 32px;
}
.header-container p{
    list-style: none;
    color: #fff;
    
}
.arrow-move{
      background: linear-gradient(90deg,yellow, red, blue);
      border-radius: 20px;
      padding: 5px 7px;
      color: #fff;
      
}
.arrow-move {
    animation: arrow-move 1.5s infinite ease-in-out;
}


@keyframes arrow-move {
    0%{
        transform: translate(0);
        background-color: blue;
    }
    25%{
         transform: translatey(8px);
         background-color: rgb(133, 135, 3);
    }
    50%{
        transform: translatex(10px);
        background-color: rgb(33, 2, 105);
        
    }
    100%{
        transform: translatey(-12px);
        background-color: rgb(17, 137, 6);

    }
    
}
.hide{
    display: none;
}
/* end design nav-part  */
/* start hero section design */
.upper-side{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-bg{
    width:100%;
    display: block;
}
.combine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-circle{
    width: 250px;
    height: auto;
    margin-top: -130px;
  
}
.mic-icon {
    position: absolute;
    width: 120px;
    top: -10%;
    left: 54%;
    transform: translate(-59%, -50%);
}
.new{
    position: absolute;
    top: -150px;
    left: 140px;
    background: rgb(74, 166, 74);
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 10;
}
.down-side{
    margin-top: -250px;
    position: relative;
    z-index: 5;
    color: #fff;
}
.down-side h2{
    font-size: 50px;
    margin: 25px;
    text-align: center;
}
.down-side p{
    
    text-align: center;
}

.btn-group{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.spotify-button{
    background: linear-gradient(90deg,yellow, red, blue );
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    border: none;
    font-size: 20px;
}
.sound{
    justify-content:center ;
    align-items: center;
}
.Subscribe-button{
    border: 1px solid green;
    background: transparent;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px; 
    font-size: 20px;
}
/* end hero section design */

/* start banner section */

.banner-section{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 180px;
   padding: 50px 200px;
}
.banner-container{
    text-align: center;
}
.banner-title {
    display: block;
    margin: 50px;
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    
}
.banner-container p{
    color: #fff;
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
    
}
.flex-section ul{
    display: flex;
    color:#00FF88;
    padding: 0;
    margin: 0;
    gap: 80px;
    
}
li{
   list-style: none;
   font-weight: bold;
   font-size: 50px;
}
li p{
    font-weight: normal;
    margin-top: 16px;
    color: black;
    font-size: 16px;
    color: #fff;
    margin-bottom: 120px;
}
/* end banner-section */












@media screen and (max-width:576px){
    /* nav design part  */
    .hide{
        display: inline;
        margin: 15px 20px;
    }
       h1{
        margin-left: 10px;
    }
    .menu ul{
    display: flex;
    gap: 32px;
    display: none;
}
.arrow-move{
    display: none;
}
.banner-section{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 180px;
   padding: 50px 200px;
}
.banner-container{
    text-align: center;
}
.banner-title {
    display: block;
    margin: 50px;
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    
}
.banner-container p{
    color: #fff;
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
    
}
.flex-section ul{
    display: flex;
    color:#00FF88;
    padding: 0;
    margin: 0;
    gap: 80px;
    
}
li{
   list-style: none;
   font-weight: bold;
   font-size: 50px;
}
li p{
    font-weight: normal;
    margin-top: 16px;
    color: black;
    font-size: 16px;
    color: #fff;
    margin-bottom: 120px;
}


/* complete nav desing */
/* start hero design  */
.upper-side{ 
    width: 100%; 
}

.hero-circle{
    width: 90px;
    margin-top: -100px;
  
}
.mic-icon {
    position: absolute;
    width: 40px;
    top:-50px;
    left:45px;
    transform: translate(-50%, -50%);
}
.new{
    top: -90px;
    left: 80px;  
}
.down-side{
    margin-top: -110px;
}
.down-side h2{
    font-size: 20px;
    margin-top: 10px;
}
.down-side p{
    font-size: 10px;
    margin-top: -5px;
}

.btn-group{
    display: flex;
    margin-top: -10px; 
}
.sound{
    vertical-align:middle;
    width: 20px;
    height: auto;
    padding: 1px;
    margin: 2.5px;
}

.spotify-button{
    background: linear-gradient(90deg,yellow, red, blue );
    padding: 1px;
    padding-bottom: -20px;
    border-radius: 20px;
    font-size: 13px;
}
.Subscribe-button{
    padding: 2px;
    border-radius: 20px;
    font-size: 13px;
 /* } end hero design */
}
/* banner section start  */


.banner-section{
   width: 100%;
   margin: 0;
   padding: 10px 0px;
}
.banner-title {
    margin: 20px;
    font-size: 40px;   
}
.banner-container p{
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
    line-height: 18px;
    
}
.flex-section ul{
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
li{
   font-size: 40px;
}
li p{
    font-size: 14px;   
}
/* end banner-part */



}



@media screen and (min-width:576px) and (max-width:992px){
    /* nav desing  */
    h1{
        margin-left: 35px;
    }
    .arrow-move{
      background: linear-gradient(90deg,rgb(241, 4, 229), rgb(234, 255, 0), rgb(10, 246, 2));
      padding: 4px 9px;
      margin-right: 30px; } 
      /* complete nav desing  */
/*   hero section design */
    
.hero-circle{
    width: 100px; 
}
.mic-icon {
  
    width: 45px;
    top: -65px;
}
.new{
    top: -125px;
    left: 75px;   
}
.down-side{
    margin-top: -200px;
}
.down-side h2{
    font-size: 40px;
    margin: 18px;
    text-align: center;
}

.btn-group{
    margin-top: 20px; 
}

.spotify-button{
    margin-top: 1px;
    font-size: 16px;
}
.sound{
    justify-content:center ;
    align-items: center;
}
.Subscribe-button{
    padding: 5px;
    border-radius: 25px;
    margin-top: 1px;  
    font-size: 16px;
}   
/* start banner section  */
.banner-section{   
   padding: 50px 20px;
}
.banner-container{
    text-align: center;
}
.banner-title {
    display: block;
    font-size: 50px; 
}
.banner-container p{
    font-size: 13px;
    line-height: 20px;
    
}
.flex-section ul{
    gap: 50px;   
}
li{
   font-size: 50px;
   flex-wrap: wrap;
  margin: 0 auto;
}
li p{
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-size: 12px;

    margin-bottom: 80px;
}

/* end banner section */

}



@media screen and (min-width:992px) and (max-width:1600px){
        h1{
        margin-left: 20px;
    }  
    .arrow-move{
   
      margin-right: 30px;
      padding: 5px 6px;}
      /* complete nav desing */
      /* start hero section design  */
.hero-circle{
    width: 80%; 
}
.mic-icon {
    width: 130px;
    top:-10px;
    left:170px;
    transform: translate(-50%, -40%);
}
.new{
    top: -150px;
    left: 190px;  
}
.down-side{
    margin-top: -142px;
}
.down-side h2{
    font-size: 50px;
    margin-top: -15%;
}
.down-side p{
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 10px;
    
}
.btn-group{
    margin-top: -5px;
}
.spotify-button{
    margin-top: 8px;
}
.Subscribe-button{
    margin-top: 12px;
 /* } end hero design */
}
.banner-section{
   max-width: 100%;
   margin: -20px auto;
   gap: 50px;
}

.banner-title {
    font-size: 64px;   
}
.banner-container p{
    margin-top: 18px;
    font-size: 18px;   
}
.flex-section ul{
    gap: 80px;
    align-items: center;
    justify-content: center;
    
}
li{
   font-size: 60px;
}
li p{
    margin-top: 18px;
    font-size: 18px;
    margin-bottom: 40px;
}
/* end banner-section */

.grid-section-background{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;

}
.grid-section-background h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    

}
.grid-container .grid-audio{
    grid-template-columns: repeat(2, 1fr);
}
.grid-container{
    background-color: #351165;
    border: 1px solid #351161;
    padding: 35px;
    text-align: left;
}
.grid-container img{
    width: 25px;
    margin-bottom: 20px;
}
.grid-container h4{
    color: #fff;
    font-size: 24;
    font-weight: bold;
    margin-bottom: 15px;
}
.grid-container p{
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}
.grid-audio{
    grid-column: 1/2;
    grid-row: 1/3;
}
.grid-mobile{
    grid-column: 2/4;
    grid-row: 1/2;
}
.grid-community{
    grid-column: 2/4;
    grid-row: 2/3;
}
.grid-interview{
    grid-column: 1/3;
    grid-row: 3/4;
}
.grid-resource{
    grid-column: 3/4;
    grid-row: 3/4;
}







}
