*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/* 
start design header-part */
.header-container{
 border: 1px solid rebeccapurple;
}
.brand{
    border: 1px solid red;
}
.linear-color 
{
    background: linear-gradient(90deg,yellow, red, blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
} 
.menu{
    border: 1px solid yellow;
   
}
.menu ul{
    display: flex;
    gap: 32px;
}
.btn{
    border: 1px solid brown;
}
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
   
}
.header-container li{
    list-style: none;
}
