@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared-class */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter";
}
body{
    margin: 0;
    padding: 0;
    overflowx: hidden;
}
.background{
    background: rgba(65, 37, 103, 1);
}
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto; 
}
/* 
start design nav-part */
h1{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
}
.linear-color {
    background: linear-gradient(90deg,yellow, red, blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;  
} 
.menu ul{
    display: flex;
    gap: 32px;
}
.header-container li{
    list-style: none;
    color: #fff;
    
}
.arrow-move{
      background: linear-gradient(90deg,yellow, red, blue);
      border-radius: 20px;
      padding: 5px 7px;
      color: #fff;
      
}
.arrow-move {
    animation: arrow-move 1.5s infinite ease-in-out;
}


@keyframes arrow-move {
    0%{
        transform: translate(0);
        background-color: blue;
    }
    25%{
         transform: translatey(8px);
         background-color: rgb(133, 135, 3);
    }
    50%{
        transform: translatex(10px);
        background-color: rgb(33, 2, 105);
        
    }
    100%{
        transform: translatey(-12px);
        background-color: rgb(17, 137, 6);

    }
    
}
.hide{
    display: none;
}
/* end design nav-part  */
/* start hero section design */
.upper-side{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-bg{
    width:100%;
    display: block;
}
.combine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-circle{
    width: 250px;
    height: auto;
    margin-top: -130px;
  
}
.mic-icon {
    position: absolute;
    width: 120px;
    top: -10%;
    left: 54%;
    transform: translate(-59%, -50%);
}
.new{
    position: absolute;
    top: -150px;
    left: 140px;
    background: rgb(74, 166, 74);
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 10;
}
.down-side{
    margin-top: -250px;
    position: relative;
    z-index: 5;
    color: #fff;
}
.down-side h2{
    font-size: 50px;
    margin: 25px;
    text-align: center;
}
.down-side p{
    
    text-align: center;
}

.btn-group{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.spotify-button{
    background: linear-gradient(90deg,yellow, red, blue );
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    border: none;
    font-size: 20px;
}
.sound{
    justify-content:center ;
    align-items: center;
}
.Subscribe-button{
    border: 1px solid green;
    background: transparent;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    
    font-size: 20px;
}
/* end hero section design */
















@media screen and (max-width:576px){
    /* nav design part  */
    .hide{
        display: inline;
        margin: 15px 20px;
    }
       h1{
        margin-left: 10px;
    }
    .menu ul{
    display: flex;
    gap: 32px;
    display: none;
}
.arrow-move{
    display: none;
}
/* complete nav desing */
/* start hero design  */
.upper-side{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-circle{
    width: 100px;
    height: auto;
    margin-top: -100px;
  
}
.mic-icon {
    position: absolute;
    width: 50px;
    top:-50px;
    left:50px;
    transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    top: -100px;
    left: 80px;  
}
.down-side{
    margin-top: -150px;
}
.down-side h2{
    font-size: 35px;
    margin-top: 10px;
}
.down-side p{
    font-size: 10px;
    margin-top: -5px;
}

.btn-group{
    display: flex;
    margin-top: -5px; 
}

.spotify-button{
    background: linear-gradient(90deg,yellow, red, blue );
    padding: 1px;
    padding-bottom: -20px;
    border-radius: 20px;
    font-size: 13px;
}
.Subscribe-button{
    padding: 2px;
    border-radius: 20px;
    font-size: 13px;
 /* } end hero design */
}




@media screen and (min-width:576px) and (max-width:992px){
    /* nav desing  */
    h1{
        margin-left: 35px;
    }
    .arrow-move{
      background: linear-gradient(90deg,rgb(241, 4, 229), rgb(234, 255, 0), rgb(10, 246, 2));
      padding: 4px 9px;
      margin-right: 30px;
      /* complete nav desing  */
}
}



@media screen and (min-width:992px) and (max-width:1600px){
        h1{
        margin-left: 20px;
    }  
    .arrow-move{
   
      margin-right: 30px;
      padding: 5px 6px;
      /* complete nav desing */
}
}