
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter";
}
/* 
start design header-part */
.header-container{
 border: 1px solid rebeccapurple;
}
.brand{
    border: 1px solid red;
}
.linear-color 
{
    background: linear-gradient(90deg,yellow, red, blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
   
} 
.arrow-move{
      background: linear-gradient(90deg,yellow, red, blue );
      border-radius: 20px;
      padding: 5px 7px;
      color: #fff;
      
}
.arrow-move {
    animation: arrow-move 1.5s infinite ease-in-out;
}

@keyframes arrow-move {
    0%{
        transform: translate(0);
        background-color: blue;
    }
    25%{
         transform: translatey(8px);
         background-color: rgb(133, 135, 3);
    }
    50%{
        transform: translatex(10px);
        background-color: rgb(33, 2, 105);
        
    }
    100%{
        transform: translatey(-12px);
        background-color: rgb(17, 137, 6);

    }
    
}
.menu{
    border: 1px solid yellow;
   
}
.menu ul{
    display: flex;
    gap: 32px;
}
.btn{
    border: 1px solid brown;
}
.background{
    background: rgba(65, 37, 103, 1);
}

.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto; 
}
.header-container li{
    list-style: none;
    color: #fff;
    
}
h1{
    color: #fff;
}
