@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared-class */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter";
}
body{
    margin: 0;
    padding: 0;
    overflowx: hidden;
}
.background{
    background: #1a0a2b;
}
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto; 
}
/* 
start design nav-part */
.brand-menu{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    
}
.brand{
    color: #fff;
    margin: 10px;
}
.linear-color {
    background: linear-gradient(90deg,yellow, red, blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;  
} 
.menu ul{
    display: flex;
    gap: 32px;
}
.header-container p{
    list-style: none;
    color: #fff;
    
}
.arrow-move{
      background: linear-gradient(90deg,yellow, red, blue);
      border-radius: 20px;
      padding: 5px 7px;
      color: #fff;
      
}
.arrow-move {
    animation: arrow-move 1.5s infinite ease-in-out;
}


@keyframes arrow-move {
    0%{
        transform: translate(0);
        background-color: blue;
    }
    25%{
         transform: translatey(8px);
         background-color: rgb(133, 135, 3);
    }
    50%{
        transform: translatex(10px);
        background-color: rgb(33, 2, 105);
        
    }
    100%{
        transform: translatey(-12px);
        background-color: rgb(17, 137, 6);

    }
    
}
.hide{
    display: none;
}
/* end design nav-part  */
/* start hero section design */
.upper-side{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-bg{
    width:100%;
    display: block;
}
.combine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-circle{
    width: 250px;
    height: auto;
    margin-top: -130px;
  
}
.mic-icon {
    position: absolute;
    width: 120px;
    top: -10%;
    left: 54%;
    transform: translate(-59%, -50%);
}
.new{
    position: absolute;
    top: -150px;
    left: 140px;
    background: rgb(74, 166, 74);
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 10;
}
.down-side{
    margin-top: -250px;
    position: relative;
    z-index: 5;
    color: #fff;
}
.down-side h2{
    font-size: 50px;
    margin: 25px;
    text-align: center;
}
.down-side p{
    
    text-align: center;
}

.btn-group{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.spotify-button{
    background: linear-gradient(90deg,yellow, red, blue );
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    border: none;
    font-size: 20px;
}
.sound{
    justify-content:center ;
    align-items: center;
}
.Subscribe-button{
    border: 1px solid green;
    background: transparent;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px; 
    font-size: 20px;
}
/* end hero section design */

/* start banner section */

.banner-section{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 180px;
   padding: 50px 200px;
}
.banner-container{
    text-align: center;
}
.banner-title {
    display: block;
    margin: 50px;
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    
}
.banner-container p{
    color: #fff;
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
    
}
.flex-section ul{
    display: flex;
    color:#00FF88;
    padding: 0;
    margin: 0;
    gap: 80px;
    
}
li{
   list-style: none;
   font-weight: bold;
   font-size: 50px;
}
li p{
    font-weight: normal;
    margin-top: 16px;
    color: black;
    font-size: 16px;
    color: #fff;
    margin-bottom: 120px;
}
/* end banner-section */













/* start about section */

main{
   width: 100%;
   background: #1a0a2b;
}
.grid-section-background{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;

}
.grid-section-background h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    

}

.grid-container .grid-audio{
    grid-template-columns: repeat(2, 1fr);
}
.grid-container{

   
    padding: 35px;
    text-align: left;
}
.grid-card{
    background: #351165;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}
.grid-container img{
    width: 25px;
    margin-bottom: 20px;
}
.grid-container h4{
    color: #fff;
    font-size: 24;
    font-weight: bold;
    margin-bottom: 15px;
}
.grid-container p{
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}
.grid-audio{
    grid-column: 1/2;
    grid-row: 1/3;
}
.grid-mobile{
    grid-column: 2/4;
    grid-row: 1/2;
}
.grid-community{
    grid-column: 2/4;
    grid-row: 2/3;
}
.grid-interview{
    grid-column: 1/3;
    grid-row: 3/4;
}
.grid-resource{
    grid-column: 3/4;
    grid-row: 3/4;
}

/* end about section */

/* start feature section  */
section{
    background: #1a0a2b;
}
.feature-container{
    max-width: 1200px;
    margin: 0 auto;
}
 .feature-container h2{
    font-size: 54px;
    font-weight: bold;
    margin:0 200px;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 40px;
 }
 .flex{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 200px;
    gap: 30px;
    


 }

.feature-title{
    font-size: 24px;
    margin: 24px;
    font-weight: bold;
    color: #ffff;
}
.subtitle{
    font-size: 14px;
    margin: 12px 24px;
    color: #fff;
    line-height: 24px;
    
}
.clock-text{
    font-size: 14px;
    font-weight: 600;
    
}
.feature-container{
    background: #1a0a2b;
   
}
.feature-flex{
    background: #351165;
    border-radius: 25px;
    margin-bottom: 120px;
}
.clock-text img {
    margin: 24px;
    margin: 0 8px;
    
   
}
.clock-text{
    display: flex;
     gap: 8px;
     padding: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
